.card {
  max-width: 38rem;
  margin: 20px;
}

.card .search-bar {
  width: 21em;
}

.card p {
  margin-bottom: 0;
}

.card .temp {
  font-size: 50px;
  line-height: 100%;
  text-align: center;
}

.card .temp small {
  font-size: 15px;
  line-height: 100%;
  vertical-align: top;
}
