.card {
  max-width: 38rem;
  margin: 20px;
  color: #3d6683;
  /*find out how to change background color of card*/
}

.card .search-bar {
  width: 21em;
}

.card p {
  margin-bottom: 0;
}

.card .temp {
  font-size: 50px;
  line-height: 100%;
  text-align: center;
}

.card .temp small {
  font-size: 15px;
  line-height: 100%;
  vertical-align: top;
}

.card .forecast {
  font-size: 12px;
}

.card .forecast .col {
  border: solid 1px;
  border-radius: 3px;
  background: #98c3c470;
  margin: 0 2px;
}

.open-source {
  font-size: 10px;
  margin-left: 20px;
}
